<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Nastavení">
        <setting label="Počet položek na stránku" type="slider" id="pagesize" range="1, 1, 10" default="30" option="int"/>
        <setting label="Logovat požadavky" type="bool" id="log_requests" default="false"/>
        <setting label="InputStream Helper/Widevine" type="lsep"/>
        <setting label="Zobrazení informací" type="action" action="RunScript(script.module.inputstreamhelper,info)"/>
        <setting label="Nastavení InputStream Helper" type="action" action="Addon.OpenSettings(script.module.inputstreamhelper)" option="close"/>                              
        <setting label="(Re)instalovat Widevine CDM" type="action" action="RunScript(script.module.inputstreamhelper,widevine_install)" visible="!system.platform.android"/>  
        <setting label="Odstranit Widevine CDM..." type="action" action="RunScript(script.module.inputstreamhelper, widevine_remove)" visible="!system.platform.android"/>        
	</category>
</settings>
